  body{
    background-color: #333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  .form-check-input:checked {
    background-color: #21FA91; /* nowy kolor */
    border-color: #21FA91;
}